@model Cotizaciones.Models.Cotizacion

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Cotización</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NReferencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NReferencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalNeto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalNeto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Impuesto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Impuesto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalCotizacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalCotizacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaEmision)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaEmision)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
